In [2]:
import requests 
import json
from dotenv import load_dotenv
import pandas as pd
from pandas import json_normalize
from src.api_functions import *
from src.cleaning_functions import *

In [2]:
# First let's get the global population, which is the easiest
url_world = "https://world-population.p.rapidapi.com/worldpopulation"

In [3]:
world_pop = request_world_population(url_world)
format_json(world_pop)

{'ok': True, 'body': {'world_population': 7795232630, 'total_countries': 235}}

In [4]:
# API - 'World population': Get population of a country or world population. Data provided by https://www.worldometers.info/
url_specific = "https://world-population.p.rapidapi.com/population"
city = 'Mexico'

In [5]:
# request_city_population(link, country)
result = request_country_population(url_specific, country)
result.content

b'{"ok":true,"body":{"country_name":"Mexico","population":128932753,"ranking":10,"world_share":1.6539949366462974}}'

In [6]:
# Now let's get all the countries names -> request_country_names(link)
countries_name = []
url_countries = "https://world-population.p.rapidapi.com/allcountriesname"
test = request_country_names(url_countries)
dict_countries = format_json(test)

In [7]:
# We get a { { [ // a dict with dicts and one of them has a list inside. I need that list
a = dict_countries.get('body')

In [8]:
list_countries = []
for i in a.values():
    list_countries.append(i)

In [9]:
# So 'final_list' is my input for the API 
final_list = [item for sublist in list_countries for item in sublist]

In [10]:
database_api = request_all_countries_population(url_specific, final_list)

In [11]:
print(database_api[0])

{'country_name': 'China', 'population': 1439323776, 'ranking': 1, 'world_share': 18.46415423781907}

In [12]:
# df1 = dataframe from API
df1 = pd.DataFrame(database_api)

In [13]:
df1.sample(10)

       country_name  population  ranking  world_share
59             Mali    20250833       60     0.259785
75           Rwanda    12952218       76     0.166156
204  Cayman Islands       65722      205     0.000843
49        Venezuela    28435940       50     0.364786
169  Western Sahara      597339      170     0.007663
22            Italy    60461826       23     0.775626
105        Paraguay     7132538      106     0.091499
117        Slovakia     5459642      118     0.070038
174           Malta      441543      175     0.005664
156       Mauritius     1271768      157     0.016315

In [14]:
df1.to_csv('data/population-data.csv' , index = False)